/* styles.css */
* {
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    line-height: 1.5;
}

h1 {
    font-family: Consolas, monaco, monospace;
    text-align: center;
    color: #edf5e1;
    padding-top: 20px;
}

h2,
h3 {
    font-family:'Courier New', Courier, monospace;
    font-weight: 100;
    text-decoration: underline;
}

/* Homepage */

.homepage-card {
    width: 800px;
    margin: auto;
    background: #5cdb95;
    padding-bottom: 50px;
    border: 1px solid #379683;
}

.main-nav {
    font-weight: 800;
    line-height: 2;
    width: auto;
    margin: auto;
    background: #8ee4af;
}

.main-nav ul {
    text-align: center;
    display: block;
    padding: 0em;
}
.main-nav li {
    text-transform: uppercase;
    color: #edf5e1;
    display: inline-block;
    padding: 5px 10px;
    background: #edf5e1;
    width: 180px;
}

.main-nav li:hover {
    background-color: #5cdb95;
}

/*Recipe content */

.recipe-card img {
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

.recipe-content {
    display: inline-block;
    width: 1000px;
}

.method {
    color: darkslategrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}