/* styles.css */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', arial, sans-serif;
    line-height: 1.5;
    color: #05386B;
}

h1 {
    font-family: Consolas, monaco, monospace;
    text-align: center;
    color: #edf5e1;
    padding-top: 20px;
    font-weight: 800px;
}

h2,
h3 {
    font-family: Consolas, monaco, monospace;
    text-decoration: none;
    font-weight: 800px;
    color: #edf5e1;
}

/* Homepage */

.homepage-card {
    width: 800px;
    margin: auto;
    background: #5cdb95;
    padding-bottom: 50px;
    border: 1px solid #379683;
}

.main-nav {
    font-weight: 800;
    line-height: 2;
    width: auto;
    margin: auto;
    background: #8ee4af;
}

.main-nav ul {
    text-align: center;
    display: block;
    padding: 0em;
}

.main-nav li {
    text-transform: uppercase;
    color: #edf5e1;
    display: inline-block;
    padding: 5px 10px;
    background: #edf5e1;
    width: 180px;
}

.main-nav li:hover {
    background-color: #5cdb95;
}

/*Recipe content */

hr {
    border-top: 1px solid #edf5e1;
    
}

.container {
    width: 800px;
    margin: auto;
}

.recipe-card img {
    width: 700px;
    display: block;
    margin: auto;
    padding: 5px;
    background-color: #edf5e1;
}

.recipe-card {
    background: #5cdb95;
    border: 2px solid #05386B;
    width: 800px;
    margin: 0px;
    padding-bottom: 40px;
}

.recipe-content {
    display: inline-block;
    width: 800px;
    padding: 0px 30px;
}