/* styles.css */
* {
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

h1 {
    text-align: center;
    color: teal;
    padding-top: 20px;
}

h2,
h3 {
    font-family:'Courier New', Courier, monospace;
    font-weight: 100;
    text-decoration: underline;
}

.homepage-card {
    width: 800px;
    margin: auto;
    background: beige;
    padding-bottom: 50px;
    border: 3px solid teal;

.main-nav {
    font-weight: 800;
    line-height: 2;
    border: 3px solid black;
    width: 600px;
    margin: auto;
    background: teal;
}

.main-nav ul {
    text-align: center;
    display: block;
    padding: 0em;
}

.main-nav li {
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid black;
    background: white;
}

.main-nav li:hover {
    background-color: paleturquoise;
}

img.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.method {
    color: darkslategrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}